* {
  cursor: none !important;
}

.fls-cursor {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}
.fls-cursor__shadow {
  will-change: transform;
  transition: all 0.05s linear 0s;
  position: fixed;
  width: rem(50);
  height: rem(50);
}
.fls-cursor__shadow::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 3px solid #000;
  -webkit-animation: rotate 5s infinite linear;
          animation: rotate 5s infinite linear;
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.fls-cursor__pointer {
  position: fixed;
  width: rem(3);
  height: rem(3);
  top: 0;
  left: 0;
}
.fls-cursor__pointer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 3px solid #000;
  transition: all 0.3s ease 0s;
  border-radius: 50%;
}
.fls-cursor._hover .fls-cursor__pointer::after {
  transform: scale(0.8);
}
.fls-cursor._active .fls-cursor__pointer::after {
  transition: all 0.05s ease 0s;
  transform: scale(0.3);
}